body{
    margin: 0px;
    scroll-behavior: smooth;
    background-image: url(images/bg.jpg);
    background-size:contain;
    font-family:Arial, Helvetica, sans-serif
}
#header{
  width: 100%;
  height: 100vh;
}

#navigation{
  display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 20px;
      padding-right: 75px;
      position: -webkit-sticky;
      position: sticky;
      top: 0px; 
}

.logo{
  padding-left: 15px;
}
a:hover, .scrolled a:hover {
  color: gray;
}
a:hover {
  color: gray;
}

ul{
   
    list-style-type: none;
}
li{
    display: inline-block;
}
li a {
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  .new li a{
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  p{
    left: 10px
  }
  img{
    height: 50px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
.intro{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
}
.intro h1{
  color: white;
  font-size: 80px;
}

.intro p{
  font-size: 20px;
}

.bar{
  width: 1075px;
  height: 15px;
  background-color:dodgerblue;
  display: inline-block;
  text-align: center;
}

#about .top, #features .top, #footer .top{
  width: auto;
  height: 25vh;
  background-color: dodgerblue;
}

.description, .features, .benef{
text-align: center;
font-size: 55px;
padding-top: 53px;
margin: 0px;
}

.description-text{
  text-align: justify;
  font-size: 25px;
  width: 1000px;
  font-family: Arial, Helvetica, sans-serif;
  color: darkslategray;
}
.bottom p {
  margin-left: auto;
  margin-right: auto;
}

#about,#footer{
  width: auto;
  height: 100vh;
  background-color: white;
}

#features{
  width: auto;
  height: auto;
  background-color: white;
}
.patients,.pharmacist ,.health{
text-align: justify;
font-size: 17px;
font-family: Arial, Helvetica, sans-serif;
}

.footer-bottom{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}
  .footer-bottom p{
color: darkslategray;
  }

footer{
  background-color: gray;
  font-size: 16px;
  display: flex;
  justify-content:center;
}
footer p{
padding-left: 5px;
padding-right: 5px;
}

.display-logo, .payment-logo, .scanner-logo{
  width: 350px;
  height: auto;
  margin-left: 70px;
}

.display-panel, .payment, .scanner{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0px;
  padding-top: 55px;
}

.display-top h1, .payment-top h1, .scanner-top h1{
  margin: 0px;
  text-align: center;
}

.display-bottom p, .payment-bottom p, .scanner-bottom p{
  width: 750px;
    text-align: justify;
    margin-left: 40px;
  color: darkslategray;
  font-size: 22px;
}

.features-middle{
  background-color: rgb(243, 243, 243);
}

.gray{
  width: 1250px;
  height: 4px;
  background-color: black;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.blue{
  width: 1250px;
  height: 4px;
  background-color: dodgerblue;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}